@import 'variables/colors.scss';

* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100%;
}

form {
    max-width: 30em;
    margin: 0 auto;
    padding: 3em 3.5em 4em;
    background: $white;
    
    > *:first-child {
        margin-top: 0;
    }
}

input {
    border: 0;
    border-bottom: 2px solid $yellow;
    display: block;
    width: 100%;
    padding: 0.4em 0em 0.4em;
    font-size: 1em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1.85em, $yellow 1.85em) 0 0 / 0% 100% no-repeat;
    transition: 0.3s background-size;
    
    &:focus {
        outline: none;
        background-size: 100% 100%;
    }
    
    &::after {
        content: '';
        display: block;
    }
}

label {
    display: block;
    color: $yellow;
    font-size: 0.8em;
}

p {
    &.error {
        color: $red;
    }
    &.success {
        color: $green;
    }
}

body {
    &.login-bg {
        background: url('../img/hero-image.jpg') 50% 50%/cover no-repeat;
    }
}
