@import 'variables/colors.scss';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    line-height: 1.5;
    background: white;
    color: lighten($black, 25%);
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
}

a {
    color: $orange;
}

main {
    margin: 0 auto;
    max-width: 50em;
    padding: 4em 1em;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

img {
    height: auto;
    max-width: 100%;
}

h1,
h2,
strong {
    color: $black;
}

header {
    background: transparentize($black, 0.6);
    color: white;
    line-height: 1.2;
    max-width: none;
    padding: 10vw 2em;
    text-align: center;
    margin: 0 auto;
    position: relative;
    
    h1 {
        font-size: 2.5em;
        font-weight: 300;
        color: inherit;
    }
    
    &::before {
        content: '';
        display: block;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('/img/hero-image.jpg') 50% 50%/cover no-repeat;
    }
}

.signup {
    text-align: center;
    margin-top: 1.7em;
}

.button {
    @mixin button-color($color) {
        background: $color;
        border-color: darken($color, 10%);
        
        &:hover {
            background: lighten($color, 2%);
        }
        
        &:active {
            background: lighten($color, 2%);
        }
    }
    
    display: inline-block;
    border: 0 solid;
    border-bottom-width: 5px;
    color: $white;
    text-decoration: none;
    padding: 0.9em 1.4em 0.8em;
    border-radius: 3px;
    font: inherit;
    @include button-color($black);
    
    &:hover {
        margin-top: 1px;
        border-bottom-width: 4px;
    }
    
    &:active {
        margin-top: 3px;
        border-bottom-width: 2px;
    }
    
    &:focus {
        outline: none;
    }
    
    &.green {
        @include button-color($green);
    }
    &.yellow {
        @include button-color($yellow);
    }
}
